<!DOCTYPE html>
<html lang="en">

<%- include('includedLayouts/head.ejs') %>
</head>
<body>
    <%- include('includedLayouts/navigation.ejs') %>
    <h1>Page Not Found!</h1>
<%- include('includedLayouts/end.ejs') %>